@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 350px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    border-radius: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card-desc {
    font-size: 1.1rem;
    font-weight: 400;
    color: hsl(217, 14%, 51%);
    margin-bottom: 10px;
}